

.accordion-group summary {
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 7px;
}
.accordion-group .content {
    padding: 0em 2em;
   
}