.toy-details {
    width: 500px;
    border: 1px solid var(--gray1);
    border-radius: 7px;
    justify-self: center;
margin-top: 20px;
    button {
        max-width: 70px;
        margin: auto;
    }
}